::selection{
	background:transparent;text-shadow:#000 0 0 2px
}
::-moz-selection{
	background:transparent;text-shadow:#000 0 0 2px
}
::-webkit-selection{
	background:transparent;text-shadow:#000 0 0 2px
}
body{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	background-color: #f5f5f5;
}
section{
	width: 80%;
	margin: 0 auto;
}
h1{
	text-align: center;
}
p{
	text-align: justify;
}